
/*============================================
====================Modal styles===============
=============================================*/

.modal{
    background:#008ae6 url('../img/2.png') no-repeat center;
}

.modal-body{
  /*   background:url('../img/2.png') no-repeat center;
   border-radius: 20px;*/
}

.modal-content{
    border-radius: 20px;
    background:#008ae6 url('../img/2.png') no-repeat center;
    text-align: center;
    color: white;
    padding-top: 20px;
    
}
        
.modal-content:hover{
    background-position: 100% 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    text-align:justify;
    border: none;
    background-size: 300% 100%;
    border-radius: 20px;
    padding: 60px;
}

    

.row{
padding: 0;
}
        
/*====================================================
====================Trello style cards===============
======================================================*/

.lists {
/*background-color: black;*/
display: flex;
position: relative;
padding:10px;
border-radius: 20px;
color: #333;
overflow-x: hidden;
text-align: center;
font-family: "Roboto";
font-size: 14px;
line-height: 1.3em;
height: auto auto;
}

.list {
/*background-color: lightgray;  */
color: #333;
width: 250px;
margin-right: 15px;
padding:10px auto;
border-radius: 15px;
}

.list_title {
line-height: 36px;
font-size: 16px;
font-weight: bold;
color: black;
}
.list footer {
line-height: 36px;
color: darkblue;

}
.list ul {
/*background-color: #f6f6ff;  */
list-style: none;
margin: 0;
padding: 5px;
max-height: calc(100% - 36px - 36px);
}
.list ul li {
/*background-color: #f6f6ff;*/
padding: 6px;
border-radius: 5px;
}

ul .list_text {
background-color: #f6f6ff;
}

.list ul li:not(:last-child) {
margin-bottom: 10px;
}

ul .list_text:hover {
background-image: linear-gradient(to right, rgba(92, 196, 239, 0.5), rgba(174, 240, 240, 0.49), #95def7, rgb(242, 198, 21));
background-position: 60% 0;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
cursor: pointer;
text-align:justify;
border: none;
background-size: 300% 100%;
}
/* =====================================================================
 ======================= with image for the Skills front page =============
=======================================================================
   
   