/*====================================================
    This is the navigation menus Stylesheet
====================================================*/

.tabsnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.tabsnav--hidden {
	pointer-events: none;
	visibility: hidden;
}

.tabsnav__item {
	height: 50px;
	position: relative;
	cursor: pointer;
}

.tabsnav__bar {
	background: currentColor;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

.tabsnav__title {
	position: relative;
	cursor: pointer;
	margin: 0;
	height: 100%;
	font-weight: normal;
	line-height: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.tabsnav--ibai {
	top: 50%;
	margin-top: -115px;
}

.tabsnav--ibai .tabsnav__item {
	height: 70px;
}

.tabsnav--ibai .tabsnav__bar {
	background: rgba(91, 161, 242, 0.76);
}

.tabsnav--ibai .tabsnav__title {
	color: white;
}

.tabsnav--ibai .tabsnav__item:not(:last-child) {
	margin: 0 0 10px 0;
}

@media screen and (max-width: 40em) {
	/* don't show a background if on mobile */
	.tabsnav {
		background: none;
	}
}
