.socialBtns {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
/*
    padding: 48px;
    padding: 4.8rem;
    margin-top: 5px;
*/
    text-align: center;

}

.socialBtns li {
    display: inline-block;
    margin: 5px;
    margin: 1.2rem;
}

.socialBtns a,
.socialBtns svg {
    display: block;
}

.socialBtns a {
    position: relative;
    height: 50px;
    width: 50px;
}

.socialBtns svg {
    height: 100%;
    width: 100%;
}

.icon-Email:hover,
.icon-Github:hover,
.icon-Linkedin:hover,
.icon-Twitter:hover {
    background: #000;
    border-radius: 100%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

/*

.icon-Email:hover {
    background: #000;
}

.icon-Github:hover {
    background: #000;
}

.icon-Linkedin:hover {
    background: #000;
}

.icon-Twitter:hover {
    background: #000;
}




        .icon-Email {
            color: #6ed926;
        }
        .icon-Github {
            color: #26d991;
        }
        .icon-Linkedin {
            color: #2691d9;
        }

        .icon-Twitter {
            color: #d926b5;
        }
*/
