/*==================================================
    Authour: Henok T.
    Personal Portfolio Website

    Special Credit: codrops.com
====================================================
    This is the Main Stylesheet
====================================================*/

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	color: #fff;
	background: lavender;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #1d48f3;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/*===============================
======= Videos Background =====
=================================*/

* {
    box-sizing: border-box;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1000;
    
}

/*===================================
======== HEADER-BAR ==========
====================================*/
header{
    position: fixed;
/*    top: 0;*/
    margin: 25px 20px;
    background: #f6f6ff;
    color: black;
    width: 25% auto;
    padding: 0px 35px;
    font-size: 1.3rem;
	line-height: 2px !important;
    font-family: 'Sriracha', cursive;
    border-radius: 60px;
    z-index: 1;
    text-align: center
}

header p{
    font-family: 'Kaushan Script', cursive;
    font-size: 1rem;
}

/*===============================
=======Social Media Buttons =====
=================================*/
#social_buttons ul {
    display: flex;
    list-style: none;
	width: 40%;
	margin-left:1.125rem;
	margin-top: 6rem;
	position: fixed;
    z-index: 1;
}

#social_buttons a {
    text-decoration: none;
    color: black;
    margin:1em;
}

.fa-github {
    padding:12px 14px;
    transition: .5s;
    border-radius:50%;
    -webkit-animation-name: SocialMediaBtns;
    -webkit-animation-duration: 1s;
    animation-name: SocialMediaBtns;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}

.fa-linkedin {
    padding:12px 14px;
    transition: .5s;
    margin-left: -27px;
    border-radius:50%;
    -webkit-animation-name: SocialMediaBtns;
    -webkit-animation-duration: 2s;
    animation-name: SocialMediaBtns;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes SocialMediaBtns {
    from {background-color: #fac206;}
    to {background-color: white;}
}

/*===============================
======= ICONS =====
=================================*/
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	height: 100vh;
    margin: 0;
    padding: 5vw 5vw calc(10vw + 1em);
/*    background: url(../img/pattern2.png);*/
}

/*===============================
=======SVG Buttons =====
=================================*/

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--back {
    font-size: 1.3em;
    position: absolute;
    z-index: 1002;
    top: -3em;
    right: -3em;
    opacity: 0;
    background-color: rgb(239, 214, 169);
    border-radius: 50%;
/*
    -webkit-animation-name: changeColor;
    -webkit-animation-duration: 1s;
    animation-name: changeColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
*/
}

@-webkit-keyframes changeColor {
    from {background-color: #fa0635;}
    to {background-color: #FFFFFF;}
}

.btn--back {
	color: black;
	top: 0.5em;
	right: 0.5em;
}

.btn--menu {
	position: absolute;
	z-index: 1000;
	top: auto;
	bottom: 7%;
	left: 50%;
	display: block;
	margin: 0 -0.75em 1em;
	color: #f3f7f4;
	font-size: 1em;
	background-color: rgb(21, 20, 17);
	border-radius:8px;
	padding: 7px;
}
.btn-glow {
	animation: glowing 1500ms infinite;
    
    
  }
  @keyframes glowing {
	0% {box-shadow: 0 0 60px #fff;}
	40% { box-shadow: 0 0 50px #fff;}
	60% {box-shadow: 0 0 10px #fff;}
	100% {box-shadow: 0 0 60px #fad406;}
  }

.btn--menu-active .icon--menu,
.icon--cross {
	display: none;
}

.btn--menu-active .icon--cross {
	display: block;
   
}

.btn--back .icon {
	transform: rotate(-90deg);
}

/*===============================
=======Content =====
=================================*/
.tabscontent {
	pointer-events: none;
}

.tabscontent__item {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	opacity: 0;
}

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
	pointer-events: auto;
}

.box {
	position: relative;
	width: 80vw;
    height: 80vh;
	min-width: 300px;
	margin-top: 20px;
	background-size: cover;
	background-position: 50% 0;
}

.tabscontent__item:first-child .box {
    padding-top: 10%;
}

.tabscontent__item:nth-child(2) .box {
/*	background-image: url(../img/PortfolioShocase.jpg);*/
/*    padding-top: 2%;*/
}

.tabscontent__item:nth-child(3) .box {
	background-image: url(../img/newcontact.png);
    padding-top: 2%;
    border-radius: 20px 5px;
}
.aboutMeText {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
    padding: 50px;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
}

.lists { 

} 

.skills img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.skills img:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    
}
/*
.container-fluid{
margin-top: 20%;
}
*/

.skills {
    margin-right: 10px; 
    overflow-x: hidden;
    /*    padding: 10px;*/
    /*    background-color: rgb(252, 207, 107);   */
}         

/*.list ul  {
    background-color: darkgreen;  
    list-style: none;
    margin: 0 auto;
}
 */ 
/*=========== carousel ========================*/
.carousel{
    padding: 2%;
    border-radius: 10px;
}
.carousel img {
    border-radius: 35px;
}

.carousel-caption{
    background:linear-gradient(360deg,black, transparent 50%);
    padding: 5px;
    border-radius:100px;
    bottom: -5px;
    text-shadow: 1px 1px 8px black, -1px 1px 8px black;
}

.carousel-caption h5 {
    font-family: 'Sriracha', cursive;
    text-shadow: 1px 1px 8px black, -1px 1px 8px black;
}

/*
.carousel-caption h5:hover {
    text-shadow: 1px 1px 8px rgba(247, 182, 4, 0.98), -1px -1px 8px rgba(9, 33, 247, 0.96), 1px -1px 8px rgba(239, 9, 28, 0.97), -1px 1px 8px rgba(244, 205, 9, 1);
    -webkit-transition: text-shadow 250ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: text-shadow 250ms cubic-bezier(0.42, 0, 0.58, 1);
}
*/

.underlineEffect{
    display: inline-block;
    position: relative;
}

.underlineEffect::before{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: blue;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
    
}
.underlineEffect:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}
 /*///=====//*/
.underlineEffect::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: yellow;
    transform-origin: top left;
    transition: transform 0.35s ease-out;
    
}
.underlineEffect:hover::after{
    transform: scaleX(1);
    transform-origin: top right;
}

.viewProject{
    border-radius: 5px;
    background: darkblue;
    margin-bottom: 0px;
    margin-right: 10px;
    
}
.viewProject:hover{
    background-image: linear-gradient(to right, #0459f8, 
    rgba(250, 255, 121, 0.77), #0459f8, #0459f8);
    background-position: 60% 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-align:justify;
    border: none;
    background-size: 300% 100%;
    text-align: center;
    color: wheat;
}


/*===============================
=======@media Queries ===========
=================================*/
@media screen and (max-width: 40em) {
	main {
		overflow: auto;
		height: auto;
		min-height: calc(100vh - 69px);
		margin: 0;
	}
	main {
		height: calc(100vh - 69px);
	}
    
	.btn--back {
		top: 0;
		right: 0;
	}
	.btn--menu {
		display: block;
	}
}

@media only screen and (max-width: 640px){
    .lists{
        flex-direction: column;
        margin-top: -50%;
        height: 90vh;
    }
    .aboutMeText{
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin-top: 120px;
    }
    .socialBtns{
        padding: 0;
    }
    #carouselExampleIndicators{
        margin-top: 40%;
        width: 100%;
        height: 100%;
    }
    .container-fluid{
        width: 70%;
        margin-top: 95px;
    }
    .skills img {
        width:60%;
    }
    .btn{
        margin-top: 30px;
    }

} 

@media only screen and (max-width: 429px){
/*
    .container-fluid{
        width: 50%;
    }
*/
}